#!/bin/bash

StackName=Reba

S3BucketArtifacts=your-artifact-bucket
S3PrefixArtifacts=cloudformation/reba

export S3BucketEmail=your-transient-bucket
export S3PrefixEmail=ses/forwarding/

S3PathConfigBackups=s3://your-config-bucket/reba
